<% content_for :title, "New Project" %>

<div class="mx-auto max-w-2xl">
  <h1 class="text-2xl font-semibold text-gray-900">New Project</h1>
  <p class="mt-2 text-sm text-gray-700">Create a new project to manage secrets</p>

  <%= render "form", project: @project %>
</div>
