<% content_for :title, "Edit #{@environment.name}" %>

<div class="mx-auto max-w-2xl">
  <div class="page-header">
    <h1 class="page-title">Edit Environment</h1>
    <p class="page-subtitle">Update settings for <%= @environment.name %></p>
  </div>

  <%= render "form", environment: @environment %>
</div>
