<% content_for :title, "Edit #{@secret.key}" %>

<div class="mx-auto max-w-2xl">
  <div class="mb-8">
    <h1 class="section-header">Edit Secret</h1>
    <p class="section-subheader">Update <span class="font-mono" style="color: var(--dm-brand);"><%= @secret.key %></span> in <%= @environment.name %></p>
  </div>

  <%= render "form", secret: @secret %>
</div>
