<% content_for :title, "Edit #{@secret.key}" %>

<div class="mx-auto max-w-2xl">
  <div class="page-header">
    <h1 class="page-title">Edit Secret</h1>
    <p class="page-subtitle">Update <span class="font-mono text-orange-600"><%= @secret.key %></span> in <%= @environment.name %></p>
  </div>

  <%= render "form", secret: @secret %>
</div>
