<% content_for :title, "New Secret" %>

<div class="mx-auto max-w-2xl">
  <div class="mb-8">
    <h1 class="section-header">New Secret</h1>
    <p class="section-subheader">Create a new encrypted secret for <%= @environment.name %></p>
  </div>

  <%= render "form", secret: @secret %>
</div>
